@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: #F6F6F6;
}


.headerPageWidth {
    max-width: 1000px;
    margin: auto;
}
.header {
    width: 90%;
    margin: 15px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header__navBox {
    align-self: center;
}
.header__navBox__box__link {
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    transition: color ease .3s;
}
.header__navBox__box__link:nth-child(even) {
    margin: 15px;
}
.header__navBox__box__link:active{
    font-size: 24px;
    color: #1a1a1a;
    text-decoration: none;
}
.header__navBox__box__link:hover {
    color: #737373;
}


.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(100vh - 105px) auto auto auto auto auto;
    gap: 16px;
    padding: 0 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.catchphrase {
    align-self: center;
    /*padding: 20px 0;*/
}

.codebox {
    align-self: center;
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-family: monospace;
}

/* Les éléments content passent en pleine largeur */
.content {
    margin-bottom: 25px;
    grid-column: 1 / -1; /* Occupe toutes les colonnes */
    padding: 20px;
    border-radius: 8px;
    margin-top: 16px;
}

.newsletter {
    grid-column: 1 / -1; /* Occupe toutes les colonnes */
    padding: 20px;
    border-radius: 8px;
    margin-top: 16px;
}
.main {
    width: 95%;
    margin: auto;
}


.section__headline__heading {
    margin: 0;
    font-size: 53px;
    font-weight: bold;
    color: #000000;
    line-height: 65px;
}
.section__headline__text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 33px;
}
.section__headline__btn {
    padding: 5px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 25px;
    -webkit-box-shadow: 4px 4px 0px 4px #000000; 
    box-shadow: 4px 4px 0px 0px #000000;
    cursor: pointer;
    transition: box-shadow ease .3s;
}
.section__headline__btn:hover {
    box-shadow: 6px 6px 0px 0px #4d4d4d;
    cursor: pointer;
}



.codebox-box {
    padding: 20px 10px 0 10px;
    background-color: #333;
    border-radius: 10px;
}
.codebox-box__pre {
    line-height: 25px;
    margin: 15px 0 0 0;
    font-size: 17px;
}
.codebox-box__pre > code {
    white-space: pre-wrap;
}
.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
}
.circle-red {
    background: #FF605C;
}
.circle-yellow {
    margin: 0 5px;
    background: #FFBD44;
}
.circle-green {
    background: #00CA4E;
}

.code-green {
    color: #63FF4E;
}
.code-blue {
    color: #5E7FFF;
}
.code-pink {
    color: #FF59C2;
}
.code-red {
    color: #FF484B;
}
.code-yellowOrange {
    color: #FFCB1F;
}

.contentBox {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contentBox__title {
    flex-basis: 100%;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-size: 41px;
}
.contentBox__article {
    width: 288px;
    height: 260px;
    background: #fff;
    border-radius: 15px;
}
.contentBox__article__img {
    margin: 5px 0 0 20px;
}
.contentBox__article__img:nth-child(2) {
    margin-top: 13px;
}
.contentBox__article__img:nth-child(3) {
    margin-top: 19px;
}
.contentBox__article__title {
    margin: 5px 20px;
    color: #1E1D1E;
    font-size: 27px;
    font-weight: 700;
}
.contentBox__article__text {
    width: 85%;
    margin: 10px auto 10px auto;
    font-size: 23px;
    color: #464748;
}

.contentBox__article--cours {
    position: relative;
    margin-bottom: 15px;
}
.contentBox__article--cours__img {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentBox__article--cours__title {
    margin: 15px 0;
    text-align: center;
    font-size: 29px;
}
.contentBox__article--cours__text {
    width: 85%;
    margin: auto;
    font-size: 26px;
    color: #464748;
}
.contentBox__article--cours__comming {
    position: absolute;
    right: 13px;
    bottom: 15px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bolder;
    background: #EB0E0E;
    border-radius: 5px;
    color: #ffffff;
}

.articleAndTemplate {
    position: relative;
    width: 252px;
    height: 309px;
    background: #fff;
    border-radius: 12px;
    transition: all ease .3s;
}
.articleAndTemplate:hover {
    -webkit-box-shadow: 7px 7px 0px 0px #cccccc; 
    box-shadow: 7px 7px 0px 0px #cccccc;
}
.articleAndTemplate > a {
    text-decoration: none;
    cursor: pointer;
}
.articleAndTemplate__title {
    width: 85%;
    margin: 20px auto;
    font-size: 29px;
    color: #1E1D1E;
}
.articleAndTemplate--btn {
    margin-top: 15px;
    text-align: center;
}

.seeAllBtn {
    color: initial;
    text-decoration: none;
}

.newsletter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter__box {
    position: relative;
    overflow: hidden;
    margin: 35px 0px 0 0;
    padding: 15px;
    width: calc(630px - 15px);
    height: calc(281px - 15px);
    border: 8px solid #000000;
    box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.25);
    transform: rotate(-2deg);
}
.newsletter__box__headingWrap {
    width: 75%;
    position: relative;
}
.newsletter__box__headingWrap__title {
    margin: 7px 0 7px 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
}
.newsletter__box__headingWrap__bar {
    width: 100%;
    height: 2px;
    background: #000000;
}
.newsletter__box__headingWrap__text {
    margin: 7px 0 0 0;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 35px;
}
.newsletter__doubleinput {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}
.sr-only {
    display: none;
}
.newsletter__doubleinput > input {
    width: calc(50% - 20px);
    border: 4px solid #000000;
    font-size: 24px;
    color: #5E5E5E;
}
.newsletter-form__singleInput {
    width: calc(100% - 12px);
    margin-bottom: 7px;
    border: 4px solid #000000;
    font-size: 24px;
    color: #5E5E5E;
}
.newsletter-form__btn {
    width: 100%;
    height: 60px;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    background: #000000;
    cursor: pointer;
}

.subTic {
    padding: 5px 25px;
    position: absolute;
    top: 20px;
    right: -27px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 900;
    background: #000000;
    text-transform: uppercase;
    transform: rotate(43deg);
}

footer {
    background: #313131;
}
.footer {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    margin: auto;
}
.footer--brand {
    flex-basis: 20%;
    text-align: center;
}
.footer--brand > img {
    vertical-align: sub;
}
.footer--brand > h3 {
    display: inline-block;
    margin-top: 15px;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}
.footer--nav {
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;
}
.footer--nav__title {
    color: #fff;
}
.footer--nav__ul {
    padding: 0;
    list-style: none;
}
.footer--nav__ul > li {
    margin-bottom: 5px;
}
.footer--nav__ul > li > a {
    color: #ffffff;
    text-decoration: none;
}
.footer--nav__ul > li > a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.footer--links {
    flex-basis: 20%;
    margin-top: 20px;
    text-align: center;
}
.footer--links > a:nth-child(1) > img {
    vertical-align: sub;
}
.footer--links > a:nth-child(2) > img {
    margin: 0 15px;
}


.templatesSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}
.redirect {
    color: initial;
    text-decoration: none;
}
.articleAndTemplate {
    flex-basis: calc(25% - 15px);
}
.templateImg {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.templateTitle {
    margin: 10px 20px;
    font-size: 15px;
}
.templateText {
    width: 85%;
    height: 103px;
    margin: 0 auto;
    font-size: 14px;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.coursH1 {
    width: 95%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 800;
}
.coursH1__cours {
    color: #FFA500;
}
.coursH1__pro {
    color: #FF4500;
}
.coursH1__developpeur {
    background: linear-gradient(
        270deg,
        #007CF0,
        #00DFD8,
        #007CF0,
        #00DFD8
    );
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientMove 2s linear infinite;
}
.coursP {
    width: 70%;
    margin: 25px auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: #666666;
}
.wheretobeginSection {
    margin-bottom: 75px;
    text-align: center;
}
.wheretobegin {
    font-family: "Poppins", sans-serif;
    font-size: 29px;
    font-weight: 500;
}
.wheretobegin__animation {
    background: linear-gradient(
        270deg,
        #FF8A65,
        #4A90E2,
        #FF8A65,
        #4A90E2
    );
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientMove 2s linear infinite reverse;
}
.tempalteArticlesHeading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.tempalteArticlesHeading__elements > span:nth-child(even) {
    margin: 0 15px;
    cursor: pointer;
}
.tempalteArticlesHeading__elements > span {
    cursor: pointer;
}
.active {
    color: #1E1D1E;
}
.inactive {
    color: #B4B4B4;
}

.saleSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}
.saleSection__imgs {
    flex-basis: calc(50% - 25px);
    margin-top: 45px;
}
.saleSection__imgs_img {
    width: 100%;
}
.saleSection__imgs__selection {
    margin-top: 15px;
    text-align: center;
}
.saleSection__imgs__selection > img {
    width: 20%;
}
.saleSection__article {
    flex-basis: calc(50% - 25px);
}
.saleSection__article__title {
    font-size: 33px;
}
.saleSection__article__paragraph {
    font-size: 22px;
}
.saleSection__article__price {
    display: block;
    font-size: 40px;
    font-weight: 800;
    color: #BF0000;
}
.saleSection__article__get {
    padding: 15px 25px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: #BF0000;
    border: none;
}

.moreTemplatesOrArticles {
    flex-basis: 100%;
    margin-top: 50px;
    font-size: 41px;
}

.blogHeading {
    font-size: 50px;
    font-weight: 800;
}
.blogHeading--article {
    margin-bottom: 0;
}
.blogArticle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    border-top: 2px solid #E0E0E0;
    padding: 25px 0;
    cursor: pointer;
}
.blogArticle__imgBox {
    flex-basis: 20%;
}
.blogArticle__imgBox__img {
    width: 100%;
}
.blogArticle__contentBox {
    flex-basis: calc(80% - 25px);
}
.blogArticle__contentBox__title {
    margin: 0;
}
.blogArticle__contentBox__publicationInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.blogArticle__contentBox__publicationInfo__text {
    font-size: 13px;
}
.blogArticle__contentBox__publicationInfo__img {
    vertical-align: middle;
}
.blogArticle_presentation {
    margin-top: 0;
}

.articleSection {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.articleSection__article {
    flex-basis: calc(70% - 25px);
}
.articleSection__cours {
    flex-basis: calc(30% - 25px);
}
.contentBox--cours {
    justify-content: center;
}
.contentBox__article--cours--page {
    width: 188px;
    height: 160px;
}
.contentBox__article--cours__title--cours {
    font-size: 19px;
}
.contentBox__article--cours__text--cours {
    font-size: 13px;
}
.contentBox__article--cours__comming--cours {
    font-size: 10px;
}
.imgArticle {
    width: 100%;
    height: 357px;
    object-fit: cover;
    border-radius: 25px;
}
.ourCoursTitle {
    margin-top: 100px;
    margin-bottom: 5px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.redirectBox {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.coursBox{
    transition: box-shadow ease .3s;
    border-radius: 15px;
}
.coursBox--htmlCss:hover {
    -webkit-box-shadow: 7px 7px 0px 0px #E44D26; 
    box-shadow: 7px 7px 0px 0px #E44D26;
}
.coursBox--JS:hover {
    -webkit-box-shadow: 7px 7px 0px 0px #FADD10; 
    box-shadow: 7px 7px 0px 0px #FADD10;
}
.coursBox--JavaSpring:hover {
    -webkit-box-shadow: 7px 7px 0px 0px #6ACD37; 
    box-shadow: 7px 7px 0px 0px #6ACD37;
}
.coursBox--Angular:hover {
    -webkit-box-shadow: 7px 7px 0px 0px #C3002F; 
    box-shadow: 7px 7px 0px 0px #C3002F;
}
.coursBox--React:hover {
    -webkit-box-shadow: 7px 7px 0px 0px #30A2FF; 
    box-shadow: 7px 7px 0px 0px #30A2FF;
}
.coursBox--Git:hover {
    -webkit-box-shadow: 7px 7px 0px 0px #F15F54; 
    box-shadow: 7px 7px 0px 0px #F15F54;
}



.pageWidth {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 55px;
}
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}



@media screen and (max-width: 999px) and (min-width: 688px) {
    .grid-container {
        grid-template-columns: 100%;
    }
    .codebox {
        display: none;
    }
    .contentBox {
        gap: 20px;
        justify-content: space-around;
    }
    .contentBox__article {
        width: calc(50% - 50px);
        height: 240px;
    }
    .contentBox__article__text {
        font-size: 19px;
    }
    .contentBox__article__img {
        width: 52px;
        height: 52px;
    }
    .articleAndTemplate__title {
        font-size: 25px;
    }
    .articleAndTemplate--btn {
        margin-top: 35px;
    }
    .whyDevChimp {
        width: calc(33% - 20px);
        height: 220px;
    }
    .computer {
        margin-top: 8px;
    }
    .newspaper {
        margin-top: 11px;
    }

    .articleAndTemplate {
        flex-basis: calc(33% - 15px);
    }
    .mobileTitle {
        font-size: 15px;
    }

    .blogArticle__imgBox {
        flex-basis: 25%;
    }
    .blogArticle__contentBox {
        flex-basis: calc(75% - 25px);
    }

    .articleSection {
        gap: 15px;
        justify-content: space-around;
    }
    .ourCoursTitle {
        margin-top: 95px;
        font-size: 23px;
    }
    .contentBox--cours {
        gap: 0;
    }
    .articleSection__article {
        flex-basis: calc(80% - 15px);
    }
    .articleSection__cours {
        flex-basis: calc(20% - 15px);
    }
    .contentBox__article--cours--page {
        width: 100%;
        height: 140px;
    }
    .contentBox__article--cours__title--cours {
        font-size: 13px;
    }
    .contentBox__article--cours__text--cours {
        font-size: 11px;
    }
    .contentBox__article--cours__comming--cours {
        font-size: 7px;
    }
    .contentBox__article--cours__img > img {
        width: 15px;
        height: 15px;
    }

    .saleSection__article__title {
        margin-top: 40px;
        font-size: 25px;
    }
    .saleSection__article__paragraph {
        font-size: 15px;
    }
    .saleSection__article__price {
        font-size: 30px;
    }
    .saleSection__article__get {
        padding: 10px 20px;
        font-size: 15px;
    }

    .blogMobile {
        width: 95%;
    }
}

@media screen and (max-width: 687px) {
    .newsletter__box__headingWrap__title {
        font-size: 16px;
    }
    .newsletter__box__headingWrap__text {
        font-size: 13px;
    }
    .newsletter__doubleinput {
        flex-wrap: wrap;
    }
    .newsletter__doubleinput > input {
        width: 100%;
    }
    .newsletter__doubleinput > input:first-of-type {
        margin-bottom: 7px;
    }
    .newsletter__box {
        width: 90%;
        height: auto;
    }
}